@import '../../../assets/variables.scss';

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    gap: calc($spacing-xl * 2);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    height: 100%;
    position: relative;

    .header-logo {
      font-weight: bold;
      display: inline-block;
      user-select: none;
      color: $dark-blue;
      font-size: 1.5rem;
      text-decoration: none;
    }

    .header-menu {
      height: 100%;

      .header-menu-links {
        padding: 0;
        list-style-type: none;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, max-content);
        gap: $spacing-xl;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0;
        height: 100%;

        .header-menu-link {
          cursor: pointer;
          height: fit-content;
          color: $dark;
          display: flex;
          align-items: center;
          height: 100%;

          &:hover {
            color: $dark-blue;
          }

          a {
            height: fit-content;
            text-decoration: none;
            color: $dark;

            &:hover {
              color: $dark-blue;
            }
          }
        }
      }

      .header-menu-dropdown-links {
        position: absolute;
        top: 50px;
        list-style-type: none;
        padding: 0;
        background-color: $white;
        width: $max-width;
        left: 0;
        min-height: 300px;
        box-shadow: $box-shadow;
        border-radius: 0 0 4px 4px;
        margin: 0;
        cursor: auto;
      }
    }

    .header-search-form {
      background-color: $light-grey;
      display: flex;
      align-items: center;
      border: 2px solid transparent;
      border-radius: 7px;
      justify-self: center;
      width: 230px;

      input {
        border: none;
        background-color: transparent;
        padding: $spacing-md;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      button {
        border: none;
        background-color: transparent;
        display: flex;
        cursor: pointer;

        svg {
          align-self: center;
        }
      }
    }

    .header-user-sections {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-items: center;

      .header-user-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .header-user-section-icon {
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: $light-grey;
          }
        }

        .header-user-section-dropdown {
          min-width: 250px;
          border: 1px solid $light-grey;
          border-radius: 4px;
          box-shadow: $box-shadow;
          position: absolute;
          top: 50px;
          right: 0;
          padding: $spacing-lg;
          box-sizing: border-box;
          background-color: $white;

          .header-user-menu {
            .header-user-menu-data {
              text-decoration: none;
              color: $dark;
              display: flex;
              align-items: center;
              gap: $spacing-md;
              background-color: $light-grey;
              padding: $spacing-md;
              border-radius: 4px;

              span {
                font-size: 0.9rem;
              }
            }

            .header-user-menu-links {
              list-style-type: none;
              margin: 0;
              padding: $spacing-md 0;

              .header-user-menu-link {
                a {
                  text-decoration: none;
                  color: $dark;
                  display: flex;
                  align-items: center;
                  gap: $spacing-md;

                  svg {
                    color: $dark-blue;
                  }
                }
              }
            }
          }

          .header-user-cart {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            height: 200px;

            span {
              width: fit-content;
              color: $dark-grey;
            }
          }
        }
      }
    }
  }
}
