@import '../../../assets/variables.scss';

.footer-container {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  .footer {
    display: grid;
    grid-template-rows: 1fr fit-content;
    padding: $spacing-lg 0;

    span {
      a {
        color: $dark;
        font-weight: bold;

        &:hover {
          color: $dark-blue;
        }
      }
    }

    .github {
      width: fit-content;
      justify-self: center;
      font-size: 2rem;
      color: $dark-blue;
    }
  }
}
