// COLORS
$white: #ffffff;
$black: #000;
$dark: #35373f;
$light-grey: #e8e8e8;
$grey: #d1d2d5;
$dark-grey: #9ea0a5;
$light-blue: #eaedf3;
$blue: #2a8bf2;
$dark-blue: #3770b1;
$yellow: #f5d442;
$green: #0e952c;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 1300px;

// STYLING
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$border-r7: 7px;
$border-r10: 10px;